/* .shoppinglists{
    width: 100%;
    min-height: 100vh;
  }
  .listsone {
    justify-content: center;
    align-items: center;
  }
  .bttn {
    display: flex;
    justify-content: flex-end;
  } */